.alert-container {
    transform: translate(-50%, -50%);
    width:74vh;
    height:38vh;
    background-color: hsla(208, 57%, 6%, 0.75);
    left:50%;
    top:50%;
    position:absolute;
    border-radius: 8px;
}