.alert {
    height: 85px;
    border-radius: 8px;
    margin-top: 1vh;
    margin-left: 1vh;
    width: 490px;
    display: flex;
    background-color: hsla(208, 37%, 27%, 0.75);
}

.alert i {
    margin-top: 18px;
    color: #ffd000;
    margin-left: 16px;
    font-size: 43px;
}

.alert .text {
    font-size: 15px;
    padding: 5px;
    padding-left: 17px;
    margin: auto;
}