.notificationsbox {
    margin-left: 1vh;
    margin-top: 5%;
    width: 30%;
    height: 74vh;
    display: flex;
    position: absolute;
    background-color: hsla(208, 57%, 6%, 0.75);
    backdrop-filter: blur(225px);
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}